#ms-scrollbar::-webkit-scrollbar-track {
	background-color: #ccccc;
}

#ms-scrollbar{
	background-color: #ffffff;
}

#ms-scrollbar::-webkit-scrollbar {
	width: 7px;
	background-color: #F5F5F5;
}

#ms-scrollbar::-webkit-scrollbar-thumb {
	background-color: #eeeeee;
	-webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

.ms-new {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
	background-color: #2196f3;
}
.nick-online{
	margin-left:8px; position:absolute; 
	margin-top:12px;width: 8px;height: 8px;line-height: 8px; 
	border-radius: 50%; background-color:#80d3ab;
}

@media (min-width: 1200px){}
.container {
    width: 100%;
}

@media (min-width: 992px){}
.container {
    width: 100%;
}
@media (min-width: 768px){}
.container {
    width: 100%;
}
.container {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.ms-reply{

}

.div-chat{
	background-color: #f5f5f5;
}

div.show-video{
	margin: 5px;
	font-family: 'Roboto', sans-serif;
	color: #8c8c8c;
}

ul.show-list-video{

}


ul.show-list-video > li{
	font-size: 15px;
}
ul.show-list-video > li em{
	color: #cccccc;
	font-size: 13px;
}

ul.show-list-video > li.active > a{
	color: green;
}

div.content-chat-video > div.col-md-7{
	padding-right: 0px;
}


.lv-header-alt .lv-actions>li>form {
    margin: 0 3px;
}

.actions>li>form {
    width: 30px;
    height: 30px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.actions>li>form>label>i {
    transition: color;
    transition-duration: 1.3s;
    color: #adadad;
    font-size: 20px;
}

a{
	text-decoration: none;
}

.video-play{
	background-image: url('../images/background-sound.jpg');
	background-size: 100% 100%;
	background-repeat: none;
	background-color: #cccccc;
}

#dropdown-name{
	background-color: #a6e1ec; 
	border-color: #a6e1ec;     
	color: #466482;
	margin-right: 0px;
	border-radius: 0px;
}

.dropdown > .dropdown-menu{
	width: 100%;

	border-radius: 0px;
}

.delete-member{
	color: red;
}

.notify.notify-notes {
    width: 30%;
}

.notify .note .image + .remove + .content {
    margin-left: 0px;
}

.notify .note .content {
    margin-right: 0px;
}

.notify.notify-notes .title {
    margin-bottom: 0px;   
}

/*Show Emotion in chat*/
.emotion{
    position: absolute;
    z-index: 30000000;
    bottom: 82px;
}
.emotion > button{
    border: none;
    width: 24px;
    background-color: #cccccc;
}

#list-icon{
    float: left;

    border: 1px solid #cccccc;
    border-radius: 2px;
    float: left;
    display: none;
    position: absolute;
    z-index: 21000000;
    left: 40px;
    bottom: 18px;
    width: 100%;
    right: 80px;

    overflow-y: scroll;
    height: 100px;
    overflow-x: hidden;

    background-color: #ffffff;
}

#list-icon button{
    border-radius: 50px;
    border: 1px solid #ffffff;
}

@media only screen and (max-width : 1024px) {
    #list-icon{
        max-width: 400px;
    }
}

@media only screen and (max-width : 720px) {
    #list-icon{
        max-width: 400px;
    }
}

@media only screen and (max-width : 480px) {
    #list-icon{
        max-width: 200px;
    }
}

@media only screen and (max-width : 320px) {
    #list-icon{
        max-width: 100px;
    }
}

.add-photo{
    position: absolute;
    z-index: 30000000;
    bottom: 100px;
}
.add-photo span{
    border: none;
    width: 24px;
    background-color: #cccccc;
}

#upload-file-selector {
    display:none;   
}